@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.header-nav {
    flex-direction: row;
    height: 11%;
    width: 100%;
    background-color: #1A1A1A;
}

.header-nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.header-item {
    width: 25%;
    text-align: center;
}

.header-item__link {
    width: 100%;
    height: 100%;
}

.header-item-text {
    position: relative;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.active-item .header-item-text:after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    border-bottom: solid white 4px;
    width: 100%;
}

.center-flex-items {
    align-items: center;
    justify-content: center;
}

.page {
    width: 980px;
    height: 1600px;
    background-color: #313a38;
}

.slider {
    height: 90%;
    overflow: hidden;
}

.slider .content {
    position: relative;
}

.slider .content .page {
    float: left;
}

body {
    font-family: 'Nunito Sans';
    padding: 0;
    margin: 0;
}

h3 {
    font-weight: 200;
}
